* {
  margin: 0;
  box-sizing: border-box;
}

section.race-track {
  background: #6b6b6b;
  height: 100vh;
  width: 100vw;
}

div.f1-container {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  align-items: center;
}

img.f1-race-car {
  width: 100%;
  height: 150px;
}
